<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/adminHeader') %>
    <!-- #header -->

    <!-- start banner Area -->
    <section class="banner-area">
      <div class="container">
        <div class="row fullscreen align-items-center justify-content-between">
          <div class="col-lg-12 banner-content">
            <h6 class="text-white">
              Wellcome <%= user.first_name %> <%= user.last_name %>
            </h6>
            <h1 class="text-white"><%= user.restaurant_name %></h1>
            <p class="text-white">
              Here in the admin area you can create your meal ,update and
              delete. You find everting in the Navigation bar. If you have
              questions please contact us.
            </p>
            <a href="/admin/menu" class="primary-btn text-uppercase"
              >Start create menu</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <%- include('partials/scripts') %>
  </body>
</html>
