<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
  <%- include('partials/header') %>
</head>

<body>
  <%- include('partials/adminHeader') %>
  <!-- #header -->

  <!-- start banner Area -->
  <section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="about-content col-lg-12">
          <h1 class="text-white">
            Edit Meal
          </h1>
          <p class="text-white link-nav">
            <a href="/admin">Home </a>
            <span class="lnr lnr-arrow-right"></span>
            <a href="/admin/addMeal"> Add Meal</a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- End banner Area -->

  <!-- Start menu-area Area -->
  <section class="menu-area section-gap" id="menu">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="menu-content pb-70 col-lg-8">
          <div class="title text-center">
            <h1 class="mb-10" id="editMealHeadline">Here you can edit your meals</h1>
            <p id="editMealMessage">Who are in extremely love with eco friendly system.</p>
          </div>
        </div>
      </div>

      <!-- edit meal -->
      <!-- Start add meal area -->
      <section class="menu-area">
        <div class="container">
          <form class="form-wrap text-center" action="#" id="restaurantId" restaurantId="<%= meal.restaurantId%>">


            <input type="text" placeholder="meal Title" name="addMealTitle" id="addMealTitle" class="form-control mb-4"
              value="<%= meal.title %>">

            <textarea type="te" class="form-control mb-4" id="AddMealDescription" name="AddMealDescription"
              placeholder="Meal Description" onfocus="this.placeholder = ''"
              onblur="this.placeholder = 'Meal Description'"> <%= meal.description %> </textarea>


            <input type="number" class="form-control mb-4" id="addMealNumber" name="addMealNumber"
              placeholder="Meal number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Meal number'" value="<%= meal.number %>"/>

          
          <input type="number" class="form-control mb-4" id="addMealPrice" name="addMealPrice" placeholder="Meal price" value="<%= meal.price%>" />
          <select class="form-control mt-4" id="addMealSelect">
            <option value="category"> choose category</option>
            <option value="drinks">Drinks</option>
            <option value="breakfast">Breakfast</option>
            <option value="lunch">Lunch</option>
            <option value="dinner">Dinner</option>
          </select>

          <div class="form-group">
         
            <div class="row">
                
                <div class="col-md-3">
                    <a href="#" class="deletimg">X</a>
                    <img class="mealImgclass" width="100" src="<%= meal.img%>" alt="">
                </div>
            
             </div>   
             <input type="file" class="form-control-file mb-4 mt-5" name="MealImg" id="addMealImg"
             placeholder="Upload an image" accept="image/x-png,image/gif,image/jpeg" />
        </div>

     

            <button class="primary-btn btn-block bg-dark text-uppercase mt-20 mb-5" id="editMealBtn"  
              style="border-radius: 3px;">
              EDIT MEAL
            </button>
          </form>
        </div>
      </section>
      <!-- end edit -->

      <!-- start footer Area -->
      <%- include('partials/footer') %>
      <!-- End footer Area -->

      <%- include('partials/scripts') %>
      <script>

      document.querySelector('.deletimg').addEventListener('click' , e =>{
        e.preventDefault()
        e.target.parentElement.remove()
      })

        //GET THE BUTTON AND MAKE VALIDATION
        const editMealBtn = document.querySelector("#editMealBtn");
        editMealBtn.addEventListener("click", (e) => {
          e.preventDefault();
      
          const addMealTitle = document.querySelector("#addMealTitle");
          const AddMealDescription = document.querySelector(
            "#AddMealDescription"
          );
          const addMealNumber = document.querySelector("#addMealNumber");
          const addMealPrice = document.querySelector("#addMealPrice");
          const addMealImg = document.querySelector("#addMealImg").files[0];
         const  mealImgclass = document.querySelector('.mealImgclass')
          const addMealSelect = document.querySelector("#addMealSelect");
        console.log(mealImgclass );
       
          let isVerified = {
            valid: true,
            msg: "",
          };
  
          if (!addMealTitle.value.trim()) {
            isVerified.valid = false;
            isVerified.msg += "Please feel out title<br>";
          }
          if (!addMealPrice.value.trim()) {
            isVerified.valid = false;
            isVerified.msg += "Please feel out title<br>";
          }
          if (!AddMealDescription.value.trim()) {
            isVerified.valid = false;
            isVerified.msg += "Please feel out description<br>";
          }
          
        if (
          addMealSelect.options[addMealSelect.selectedIndex].value ===
          "category"
        ) {
          isVerified.valid = false;
          isVerified.msg += "Please choose a category<br>";
        }


          if (!isVerified.valid) {
            errorMessage(isVerified.msg);
          } else {
            const fd = new FormData();
          
            fd.append("mealId", '<%-meal.id%>');
            fd.append("mealTitle", addMealTitle.value);
            fd.append("mealDiscription", AddMealDescription.value);
            fd.append("mealNumber", addMealNumber.value);
            fd.append("mealPrice", addMealPrice.value);
            fd.append(
            "mealCategory",
            addMealSelect.options[addMealSelect.selectedIndex].value
          );

          if (addMealImg) {
            fd.append("mealImg", addMealImg);
          }
  
          //  fd.append("restaurantId", restaurantId);
            fetch("/admin/editMeal", {
              method: "post",
              body: fd,
            })
              .then((response) => {
                if (response.status === 200) {
                  successOrNot("SUCCESFULL ADDED", "#00AB66 !important");

                } else {
                  successOrNot("SOMETHING GOES WRONG", "#EA2626 !important");
                }
              })
              .catch((err) => console.log(err));
          }
        });
  
        //////////////////////////
        //FETCH THE REGISTER DATA
  
        ///////////////////
        //ERROR MESSGAE fn
        function errorMessage(message) {
          const editMealHeadline = document.querySelector("#editMealHeadline");
          const editMealMessage = document.querySelector("#editMealMessage");
          editMealHeadline.innerHTML = "Something goes wrong check the text below";
          editMealMessage.innerHTML = message;
          setTimeout(() => {
            editMealHeadline.innerHTML = "Here you can create your meals.";
            editMealMessage.innerHTML =
              "Who are in extremely love with eco friendly system.";
          }, 6000);
        }
  
       function successOrNot(msg, color) {
          editMealBtn.classList.remove("bg-dark");
          editMealBtn.style.backgroundColor = color;
          editMealBtn.innerText = msg;
          setTimeout(() => {
            editMealBtn.classList.add("bg-dark");
            editMealBtn.innerText = "ADD MEAL";
          }, 2000);
        } 
      </script>
</body>

</html>