<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <!-- Brand -->
      <a class="navbar-brand" href="/login/logout"
        >Table: #<%= tableMenu[0].table_number %> Logout</a
      >

      <!-- Toggler/collapsibe Button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#collapsibleNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- Start menu-area Area -->
    <section class="menu-area section-gap" id="menu">
      <div class="container">
        <div class="row d-flex justify-content-center">
          <div class="menu-content pb-70 col-lg-8">
            <div class="title text-center">
              <h1 class="mb-10">Here you can see our aktuell menu.</h1>
              <p>Who are in extremely love with eco friendly system.</p>
            </div>
          </div>
        </div>

        <ul class="filter-wrap filters col-lg-12 no-padding">
          <li class="active" data-filter="*">All Menu</li>
          <li data-filter=".drinks">Drinks</li>
          <li data-filter=".breakfast">Breakfast</li>
          <li data-filter=".lunch">Lunch</li>
          <li data-filter=".dinner">Dinner</li>
        </ul>

        <div class="filters-content">
          <div class="row grid">
            <!-- JSX LOOP TO RENDER MENU -->
            <% meals.forEach(meal => { %> <% if (meal.img !== '') { %>
            <div class="col-md-6 all <%= meal.category %>">
              <div class="single-menu">
                <div class="row">
                  <div class="col-md-4" style="padding: 0 0 0 0;">
                    <img
                      src="<%= meal.img %> "
                      alt=""
                      width="100%"
                      height="150px"
                      class="rounded"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="title-wrap d-flex justify-content-between">
                      <% if (meal.number !== '') { %>
                      <h4><%= meal.number %> <%= meal.title %></h4>
                      <h4 class="price">$<%= meal.price %></h4>
                      <% }else{ %>
                      <h4><%= meal.title %></h4>
                      <h4 class="price">$<%= meal.price %></h4>
                      <% } %>
                    </div>
                    <p>
                      <%= meal.description %>
                    </p>
                    <button class="btn btn-block bg-light">Add to cart</button>
                  </div>
                </div>
              </div>
            </div>
            <% }else{ %>
            <div class="col-md-6 all <%= meal.category %>">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <% if (meal.number !== '') { %>
                  <h4><%= meal.number %> <%= meal.title %></h4>
                  <h4 class="price">$<%= meal.price %></h4>
                  <% }else{ %>
                  <h4><%= meal.title %></h4>
                  <h4 class="price">$<%= meal.price %></h4>
                  <% } %>
                </div>
                <p>
                  <%= meal.description %>
                </p>
              </div>
            </div>
            <% } %> <% }) %>
          </div>
        </div>
      </div>
    </section>
    <!-- End menu-area Area -->

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <%- include('partials/scripts') %>
  </body>
</html>
