<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/bodyHeader') %>
    <!-- #header -->

    <!-- Start reservation Area -->
    <section
      class="reservation-area section-gap relative costumerLoginArea"
      style="padding-top: 300px; height: 100vh;"
    >
      <div class="overlay overlay-bg"></div>
      <div class="container">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-6 reservation-left">
            <h1 class="text-white" id="loginResetHeadline">
              Please type a new password.
            </h1>
            <p class="text-white pt-20" id="loginResetMessage">
              Please type a new password to change your old password to the new
              one.
            </p>
          </div>
          <div class="col-lg-5 reservation-right">
            <form
              class="form-wrap text-center"
              action="/reset/<%= token %>"
              style="padding-top: 80px; padding-bottom: 80px;"
              method="POST"
            >
              <input
                type="password"
                class="form-control firstPw"
                name="password"
                id="loginRestaurantPassword"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder =  ' new Password'"
              />
              <input
                type="password"
                class="form-control secendPw"
                name="confirm"
                id="loginRestaurantPassword"
                placeholder="Password"
                onfocus="this.placeholder = ''"
                onblur="this.placeholder = 'confirm Password'"
              />
              <button
                class="primary-btn text-uppercase mt-20"
                type="submit"
                id="RestaurantBtnReset"
              >
                update password
              </button>
              <div>
                <a href="/forgotPassword">Forgot your password?</a>
                <p>Dont have an account?<a href="/register">Sign up.</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End reservation Area -->

    <!-- End login Area -->

    <!-- start footer Area -->
    <%- include('partials/footer') %>
    <!-- End footer Area -->

    <%- include('partials/scripts') %>
    <script>
      const RestaurantBtnReset = document.querySelector("#RestaurantBtnReset");
      RestaurantBtnReset.addEventListener("click", (e) => {
        e.preventDefault();
        const firstPw = document.querySelector(".firstPw").value;
        const secendPw = document.querySelector(".secendPw").value;
        if (firstPw !== secendPw) {
          errorMessage("Please check that booth passwords are the same.");
        }
      });

      ///////////////////
      //ERROR MESSGAE fn
      function errorMessage(message) {
        const loginResetHeadline = document.querySelector(
          "#loginResetHeadline"
        );
        const loginResetMessage = document.querySelector("#loginResetMessage");
        loginResetHeadline.innerHTML = "Password are not the same";
        loginResetMessage.innerHTML = message;
        setTimeout(() => {
          loginResetHeadline.innerHTML = "Please type a new password.";
          loginResetMessage.innerHTML =
            "Please type a new password to change your old password to the new one.";
        }, 6000);
      }
    </script>
  </body>
</html>
