<!DOCTYPE html>
<html lang="zxx" class="no-js">
  <head>
    <%- include('partials/header') %>
  </head>
  <body onload="pageloadEvery(15000)">
    <!-- modal start -->
    <div class="modal" tabindex="-1" role="dialog" id="resultModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Delete?</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete?</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal end -->
    <div
      class="bg-dark"
      style="
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: center;
      "
    >
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/login/logout" style="font-size: 18px;">Logout</a></li>
        </ul>
      </nav>
    </div>

    <!-- Start menu-area Area -->
    <section
      class="menu-area section-gap"
      id="menu"
      style="height: 100vh; padding-bottom: 0; padding-top: 40px;"
    >
      <div class="container">
        <div class="filters-content">
          <div class="row grid">
            <!-- JSX LOOP TO RENDER MENU -->

            <% tables.forEach(table => { %>

            <div class="col-md-6 all">
              <div class="single-menu">
                <div class="title-wrap d-flex justify-content-between">
                  <h3>Table Number: #<%= table.table_number %></h3>
                </div>
                <div style="display: flex; justify-content: space-between;">
                  <% if (table.service===false) { %>
                  <button
                    class="btn btn-small text-white bg-secondary serviceResetBtn"
                    tableId="<%= table._id %> "
                    tableService="<%= table.service %>"
                  >
                    Service
                  </button>
                  <% } else{%>
                  <button
                    class="btn btn-small text-white bg-warning serviceResetBtn"
                    tableId="<%= table._id %> "
                    tableService="<%= table.service %>"
                  >
                    Service
                  </button>
                  <% }%> <% if (table.pay===false) { %>
                  <button
                    class="btn btn-small text-white bg-secondary payedResetBtn"
                    tableId="<%= table._id %> "
                    tablePay="<%= table.pay %>"
                  >
                    Payment
                  </button>
                  <% } else{%>
                  <button
                    class="btn btn-small text-white bg-primary payedResetBtn"
                    tableId="<%= table._id %> "
                    tablePay="<%= table.pay %>"
                  >
                    Payment
                  </button>
                  <% }%>
                  <button
                    class="btn btn-small bg-secondary text-white tableResetBtn"
                    tableId="<%= table._id %> "
                  >
                    Reset
                  </button>
                </div>
              </div>
            </div>

            <% }) %>
          </div>
        </div>
      </div>
    </section>
    <!-- End menu-area Area -->

    <%- include('partials/scripts') %>
    <script>
      /////////////////
      //SERVICE BUTTONS
      const serviceResetBtn = document.querySelectorAll(".serviceResetBtn");
      serviceResetBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          postData("/login/service/tableService", {
            tableId: e.target.getAttribute("tableId"),
          }).then((data) => {
            if (data === 1) {
              e.target.classList.remove("bg-warning");
              e.target.classList.add("bg-secondary");
            } else {
              showModal(
                true,
                "Something went wrong",
                "Something went wrong, the table is not reseted"
              );
            }
          });
        });
      });

      /////////////////
      //PAYMENT BUTTONS
      const payedResetBtn = document.querySelectorAll(".payedResetBtn");
      payedResetBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          postData("/login/service/tablePayment", {
            tableId: e.target.getAttribute("tableId"),
          }).then((data) => {
            if (data === 1) {
              e.target.classList.remove("bg-primary");
              e.target.classList.add("bg-secondary");
            } else {
              showModal(
                true,
                "Something goes wrong",
                "Something goes wrong the table is not reseted"
              );
            }
          });
        });
      });

      //////////////////
      //TABLE RESET BTN
      const tableResetBtn = document.querySelectorAll(".tableResetBtn");
      tableResetBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          postData("/login/service/resetTable", {
            tableId: e.target.getAttribute("tableId"),
          }).then((data) => {
            if (data === 1) {
              showModal(
                false,
                "Reset the table success",
                "The table is reseted and ready for the next customer"
              );
              e.target.classList.remove("bg-secondary");
              e.target.classList.add("bg-success");
              setTimeout(() => {
                e.target.classList.remove("bg-success");
                e.target.classList.add("bg-secondary");
              }, 3000);
            } else {
              showModal(
                true,
                "Something goes wrong",
                "Something goes wrong the table is not reseted"
              );
            }
          });
        });
      });

      //POST DATA FETCH
      async function postData(url = "", data = {}) {
        const response = await fetch(url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(data),
        });
        return response.json();
      }
      function pageloadEvery(t) {
        setTimeout("location.reload(true)", t);
      }
    </script>
  </body>
</html>
